.root {
    background: #202736;
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
    /*background-image: url(../../assets/bg.jpg);*/
}

.root svg g {
    fill: red;
}
.container {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text-fade-in 1000ms 800ms forwards;
}

.header {
    font-size: 65px;
    font-weight: normal;
    font-style: italic;
    color: #fafafa;
}

.paragraph {
    font-size: 24px;
    color: indianred;
    font-style: italic;
}
